html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  overflow: auto;
  max-height: 100%;
  text-align: center;
}

.content {
  text-align: left;
}

.entries {
  ul {
    list-style-type: none;
  }

  li {
    font-size: 14px;
  }
}
